{% load scribbli_strings %}
<div class="form-group form-group-default form-group-default-select2">
  <label>{{ field.label }}</label>
  <select
      id="{{ field.id_for_label }}"
      name="{{ field.html_name }}"
      class="full-width"
      {% if not field.value %}data-init-plugin="select2"{% endif %}>
    {% if not required %}
      <option value="">----</option>
    {% endif %}
    {% for option in field.field.widget.choices.queryset %}
      <option value="{{ option.pk }}">
        {% if option.level %}{{ option.level|smult:'·' }}{% endif %}
        {{ option }}
      </option>
    {% endfor %}
  </select>
  {% if field.value %}
    <script>
      setTimeout(function(){
        window.jQuery("#{{ field.id_for_label }}").val(JSON.parse({{ field.value }})).select2();
      }, 1);
    </script>
  {% endif %}
</div>