{% extends 'scribbli/extendables/base.html' %}

{% block title %}{{ story.name }} | Story{% endblock %}
{% block page_title %}{{ story.name }} <small> - {{ story.user.username|default:'Anonymous' }}</small>{% endblock %}

{% block main %}
    {{ block.super }}
    <div class="row">
      <div class="col">
        <div class="card card-transparent">
          <div class="card-header ">
            <div class="card-title">
              Basic Info
            </div>
          </div>
          <div class="card-body">
            <h3 class="text-primary">Description</h3>
            <p>{{ story.description }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-default">
          <div class="card-header">
            <div class="card-title">
              Post Filters
            </div>
          </div>
          <div class="card-body">
            <h4>Posts by World</h4>
            <ul>
              {% for location in story.locations.all %}
                <li><a href="{{ location.get_absolute_url }}">{{ location }}</a></li>
              {% endfor %}
            </ul>
            <h4>Posts by Character</h4>
            <ul>
              <li><a href="#">Jimmy</a></li>
              <li><a href="#">Johnny</a></li>
              <li><a href="#">Fred</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}